p#public-word {
  letter-spacing: 0.5em;
  font-size: 1.5em;
  font-family: monospace;
  text-transform: uppercase;
}

div.container img {
  max-height: 100px;
  width: auto;
  margin-bottom: 1em;
}

a.btn {
  margin-bottom: 10px;
}

p#status {
  background: #F3BC3C;
  color: #613E26;
  padding: 10px;
}
